@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  /* nice thin scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b8902d #1a1a1a;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b8902d;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #D4AF37;
}
